*, ::before, ::after{
    box-sizing: border-box;
}
:root{
    --teal-color: teal;
    --green:  hsl(146, 81%, 8%);
    --aquamarine: rgba(255, 166, 0, 0.281);
    --white: hsl(0, 0%, 100%);
    --white-shadow: hsl(0, 7%, 92%);
    --black: black;
    --padding-size: 1.25rem;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    padding: 10px clamp(.72rem, 20px, 5%);
}
.header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap: 10% 20%; 
} 
.chances { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr)); 
    box-shadow: 1px 1px 1px var(--white-shadow);
    background-color: var(--aquamarine);
}
 .chances :nth-child(1),.start-game :nth-child(2){
    background-color: var(--white-shadow);
    color: var(--black);
}

.start-game{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr)); 
    box-shadow: 1px 1px 1px var(--white-shadow);
    background-color: var(--aquamarine);
}

.start-game>*, .chances>*{
    display: grid;
    place-content: center;
    padding: var(--padding-size); 
    cursor: pointer;
}

.start-game :nth-child(1),.chances :nth-child(2){
    background-color: var(--aquamarine);
    color: var(--black);

}
.result{
    display: grid;
    place-items: center;
    background-color: var(--white-shadow);
    height: clamp(3rem, 4vh, 4rem);
    margin: 3rem clamp(min(1rem, 3rem), 10%, max(5%, 10%));

}
#guess-board{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
#guess-board > *{
    flex-basis: 4rem; 
}
.num-guess{
    flex-basis: 5%; 
    display: grid;
    justify-items: center; 
    box-shadow: 0px 0px 9px rgba(211, 214, 214, 0.829);
    padding: 18px;
    background-color: var(--aquamarine);

}

.bg{
    background-color: var(--aquamarine);

}